<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BoardMapper">
	<resultMap type="Board" id="boardResultMap">
		<!-- 원래는 org.ddd.ddd길게써야하는데 type Board 쓰려면 타일엘리어스 설정해주면 짧게 쓸수있다 -->
		<id property="boardNo" column="BOARD_NO"/>
		<result property="boardTitle" column="BOARD_TITLE" />
		<result property="boardContents" column="BOARD_CONTENTS" />
		<result property="boardWriter" column="BOARD_WRITER" />
		<result property="boardFilename" column="BOARD_FILENAME" />
		<result property="boardFileRename" column="BOARD_RENAME" />
		<result property="boardFilepath" column="BOARD_FILEPATH" />
		<result property="boardCount" column="BOARD_COUNT" />
		<result property="bCreateDate" column="B_CREATE_DATE" />
		<result property="bUpdateDate" column="B_UPDATE_DATE" />
		<result property="bStatus" column="B_STATUS" />
		
	
	</resultMap>
	<insert id="insertMember">
		INSERT INTO BOARD_TBL
		VALUES(SEQ_BOARD.NEXTVAL,#{boardTitle},#{boardContents},#{boardWriter},#{boardFilename},#{boardFileRename},#{boardFilepath},DEFAULT,DEFAULT,DEFAULT,DEFAULT)
	</insert>
	<select id="selectAllBoard" resultMap="boardResultMap">
		SELECT * FROM BOARD_TBL ORDER BY BOARD_NO DESC
	</select>
	<select id="selectTotalCount" resultType="_int">
	<!-- resultype은 숫자하나정도 가져올때 나머지 데이터많이 가져올땐 맵으로 -->
		SELECT COUNT(*) FROM BOARD_TBL 
		<where>
			<if test="searchCondition.toString() == 'title'">
				BOARD_TITLE LIKE '%'||#{searchValue}||'%' 
			</if>
			<if test="searchCondition.toString() == 'contents'">
				BOARD_CONTENTS LIKE '%'||#{searchValue}||'%' 
			</if>
			<if test="searchCondition.toString() == 'writer'">
				BOARD_WRITER LIKE '%'||#{searchValue}||'%' 
			</if>
			<if test="searchCondition.toString() == 'all'">
				BOARD_TITLE LIKE '%'||#{searchValue}||'%'
				OR BOARD_CONTENTS LIKE '%'||#{searchValue}||'%'
				OR BOARD_WRITER LIKE '%'||#{searchValue}||'%'
			</if>
			AND B_STATUS ='Y'
		</where>
	</select>
	<select id="selectOneByNo" resultMap="boardResultMap">
		SELECT * FROM BOARD_TBL WHERE BOARD_NO = #{boardNo } 
	</select>
	<delete id="deleteOneByNo">
		DELETE FROM BOARD_TBL WHERE BOARD_NO = #{boardNo}
	</delete>
	<update id="updateBoard">
		UPDATE BOARD_TBL SET BOARD_TITLE = #{boardTitle}, BOARD_CONTENTS= #{boardContents} ,
		BOARD_FILENAME = #{boardFilename},BOARD_RENAME= #{boardFileRename},BOARD_FILEPATH= #{boardFilepath},B_UPDATE_DATE = DEFAULT WHERE BOARD_NO = #{boardNo}
	</update>
	<!-- //조회수 -->
	<update id="updateBoardCount">
		UPDATE BOARD_TBL SET BOARD_COUNT = BOARD_COUNT +1 WHERE BOARD_NO = #{boardNo}
	</update>
	
	<select id="selectAllByValue" resultMap="boardResultMap">
	<!-- vo값을 가져와서 객체에 넣어주는 resultMap -->
		SELECT * FROM BOARD_TBL
		<where>
			<if test="searchCondition.toString() == 'title'">
				BOARD_TITLE LIKE '%'||#{searchValue}||'%' 
			</if>
			<if test="searchCondition.toString() == 'contents'">
				BOARD_CONTENTS LIKE '%'||#{searchValue}||'%' 
			</if>
			<if test="searchCondition.toString() == 'writer'">
				BOARD_WRITER LIKE '%'||#{searchValue}||'%' 
			</if>
			<if test="searchCondition.toString() == 'all'">
				BOARD_TITLE LIKE '%'||#{searchValue}||'%'
				OR BOARD_CONTENTS LIKE '%'||#{searchValue}||'%'
				OR BOARD_WRITER LIKE '%'||#{searchValue}||'%'
			</if>
			AND B_STATUS ='Y'
		</where>
		ORDER BY BOARD_NO DESC
	</select>
	
	<insert id="insertReply">
		INSERT INTO REPLY_TBL VALUES(SEQ_REPLY_NO.NEXTVAL,#{refBoardNo},#{replyContents},#{replyWriter},DEFAULT,DEFAULT,DEFAULT)
	
	</insert>
	<!-- type가 경로다 앨리스설정해줘야 약어로 쓸수있다 -->
	<resultMap type="Reply" id="replyResultMap">
		<id property="replyNo" column="REPLY_NO"/>
		<result property="refBoardNo" column="REF_BOARD_NO" />
		<result property="replyContents" column="REPLY_CONTENTS" />
		<result property="replyWriter" column="REPLY_WRITER" />
		<result property="rCreateDate" column="R_CREATE_DATE" />
		<result property="rUpdateDate" column="R_UPDATE_DATE" />
		<result property="rStatus" column="R_STATUS" />
		
	</resultMap>
	<select id="selectAllReply" resultMap="replyResultMap">
		SELECT * FROM REPLY_TBL WHERE REF_BOARD_NO = #{refBoardNo} AND R_STATUS = 'Y'
	</select>
	
	<delete id="deleteReply">
		DELETE FROM REPLY_TBL WHERE REPLY_NO = #{replyNo}
	</delete>
	
</mapper>